<div class="container">
    <div class="footer__row">
        <div class="footer__col footer__col--big">
            {{!-- Logo --}}
            <a href="/" class="logo">
                <img src="./assets/icons/logo_no_text.png" alt="" class="logo__img" />
                <h1 class="logo__title">
                    Bussin <br />
                    Cookin
                </h1>
            </a>

            <p class="footer__desc">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque vero soluta pariatur
                qui numquam asperiores, sapiente alias quo iste accusantium?
            </p>

            <a href="tel:+84339813516" class="footer__phone">(+84) 339 813 516</a>

            <a href="mailto:onquangtung18052004@gmail.com" class="footer__mail">
                onquangtung18052004@gmail.com
            </a>
        </div>

        <div class="footer_col footer__col--small">
            <h3 class="footer__heading">Navigation</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Services</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Blog</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Contact</a>
                </li>
            </ul>
        </div>

        <div class="footer_col footer__col--small">
            <h3 class="footer__heading">Gays</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Edible box</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Nig</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Love my Balls</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Huy Hehe</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Tunn Tunn</a>
                </li>
            </ul>
        </div>

        <div class="footer_col footer__col--big">
            <h3 class="footer__heading">Subscribe newsletter</h3>
            <div class="footer__list">
                <p class="footer__item footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem iusto in
                    atque veniam, itaque eaque.
                </p>

                <form action="" class="footer__form">
                    <input type="text" class="footer__form-input" placeholder="Email Address" />
                    <button class="btn btn--primary">SEND</button>
                </form>

                <div class="footer__socials">
                    <a
                        href="https://www.facebook.com/"
                        class="footer__social-link footer__social-link--facebook"
                    >
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
                    </a>
                    <a
                        href="https://www.tiktok.com/"
                        class="footer__social-link footer__social-link--tiktok"
                    >
                        <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
                    </a>
                    <a
                        href="https://www.youtube.com/"
                        class="footer__social-link footer__social-link--youtube"
                    >
                        <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
                    </a>
                    <a
                        href="https://x.com/"
                        class="footer__social-link footer__social-link--twitter"
                    >
                        <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
                    </a>
                    <a
                        href="https://www.linkedin.com/"
                        class="footer__social-link footer__social-link--linkedin"
                    >
                        <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <p class="footer__copyright">
        Copyright &copy;2004 - 2024 Grocery Mart. All&nbsp;rights&nbsp;reserved.
    </p>
</div>
