<div class="container">
    <div class="header__wrapper">
        {{!-- Left Section --}}
        <div class="header__left">
            {{!-- Logo --}}
            {{> logo}}

            {{!-- Main Navigation --}}
            <nav class="header__nav">
                <a href="/" class="header__nav-link {{#if isHome}}active{{/if}}">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
                <a href="/recipes" class="header__nav-link {{#if isRecipes}}active{{/if}}">
                    <i class="fas fa-utensils"></i>
                    <span>Recipes</span>
                </a>
                <a href="/users" class="header__nav-link {{#if isUsers}}active{{/if}}">
                    <i class="fas fa-users"></i>
                    <span>Community</span>
                </a>
            </nav>
        </div>

        {{!-- Right Section --}}
        <div class="header__right">
            {{!-- Search --}}
            <div class="header__search">
                <button
                    class="header__search-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#searchModal"
                >
                    <i class="fas fa-search"></i>
                    <span>Search</span>
                </button>
            </div>

            {{!-- Auth Actions --}}
            <div class="header__auth">
                {{#if isAuthenticated}}
                <div class="header__user">
                    <a href="/me" class="header__user-link">
                        <img
                            src="{{#if user.profile_picture}}{{
                                user.profile_picture
                            }}{{else}}/assets/img/avatar.jpg{{/if}}"
                            alt="Profile"
                            class="header__user-avatar"
                        />
                        <span class="header__user-name">{{ user.first_name }}</span>
                    </a>
                </div>
                {{else}}
                <a href="/sign-in" class="btn btn--outline btn--sm">Sign In</a>
                <a href="/sign-up" class="btn btn--primary btn--sm">Sign Up</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- Search Modal --}}
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Recipes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="/search" method="GET">
                    <div class="input-group">
                        <input
                            type="text"
                            name="q"
                            class="form-control"
                            placeholder="Enter keywords..."
                        />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
