<div class="container">
    <div class="top-bar">
        {{!-- Logo --}}
        {{>logo}}

        {{!-- Navbar --}}
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="/" class="navbar__link">Home </a>
                </li>
                <li class="navbar__item">
                    <a href="/recipes" class="navbar__link">Recipes </a>
                </li>
                <li class="navbar__item">
                    <a href="/blogs" class="navbar__link">Blogs </a>
                </li>

                <li class="navbar__item">
                    <a href="/recipes/create" class="navbar__link">Create Recipes </a>
                </li>
            </ul>
        </nav>

        {{!-- Actions --}}
        <div class="top-act">
            {{#if user}}
            <p>Welcome, {{ user.email }}!</p>
            <a href="/log-out" class="btn btn--text">Log out</a>

            {{else}}
            <a href="/sign-in" class="btn btn--text">Sign In</a>
            <a href="/sign-up" class="btn btn--text">Sign Up</a>

            {{/if }}
        </div>
    </div>
</div>
