<div class="container">
    <div class="top-bar">
        {{!-- Logo --}}
        <a href="/" class="logo">
            <img src="./assets/icons/logo_no_text.png" alt="" class="logo__img" />
            <h1 class="logo__title">
                Bussin <br />
                Cookin
            </h1>
        </a>

        {{!-- Navbar --}}
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="/" class="navbar__link">Home </a>
                </li>
                <li class="navbar__item">
                    <a href="/recipes" class="navbar__link">Recipes </a>
                </li>
                <li class="navbar__item">
                    <a href="/blogs" class="navbar__link">Blogs </a>
                </li>
            </ul>
        </nav>

        {{!-- Actions --}}
        <div class="top-act">
            <a href="" class="btn btn--text">Sign In</a>
            <a href="" class="btn btn--outline">Sign Up</a>
        </div>
    </div>
</div>
