.create-recipe {
    margin-bottom: 60px;

    &__container {
        margin-top: 40px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%px; /* 141.667% */
    }

    &__sub-heading {
        font-size: 2rem;
        font-weight: 600;
        line-height: 141.667%px; /* 141.667% */
    }

    &__form {
        margin-top: 10px;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        &-item {
            margin-top: 40px;

            &--row {
                display: flex;
                justify-content: space-between;
                gap: 20px;
            }
        }

        &-add-btn {
            margin-top: 20px;
        }
    }
}
