<main class="container recipe-detail">
    <div class="row">
        <div class="col-8">
            <h1 class="recipe-detail__heading">
                {{ recipe.title }}
            </h1>
            <img src="./assets/img/recipes/spaghetti-bolognese.jpg" alt="" />

            <p>
                {{ recipe.description }}
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</main>
