.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 20px;
    border-radius: 6px;

    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;

    transition: all 0.25s ease;

    &--text {
        background-color: transparent;
        font-weight: 500;
    }

    &--primary {
        background-color: #ffb601;

        &:hover {
            background-color: darken(#ffb601, 10%);
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(255, 182, 1, 0.2);
        }
    }

    &--outline {
        background-color: transparent;
        border: 1.5px solid var(--outline-btn-border-color);

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &--rounded {
        border-radius: 99999px;
    }

    &--link {
        text-decoration: underline;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
