.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    border-radius: 20px;
    background-color: #eee;

    transition: transform 0.25s, background-color 0.25s;

    &__img-wrap {
        position: relative;
        padding-top: 100%;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-top: 16px;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%; /* 150% */
    }

    &__desc {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%; /* 150% */
    }

    &__btn {
        margin-top: auto;
    }

    &:hover {
        transform: translateY(-10px);
        background-color: #ffb7014d;
    }
}
