.header {
    background: var(--header-bg-color);
}

.top-bar {
    display: flex;
    z-index: 1;
    padding: 20px 0;
}

.navbar {
    margin-left: 130px;
    &__list {
        height: 100%;
        margin: auto 0;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        padding: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.46667; /* 146.667% */
    }
}

.top-act {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }
}
